content: none
source https://www.nuget.org/api/v2/

nuget Fake.Lib >= 5.0.0-beta005
nuget FSharp.Data

group Build

content: none
source http://nuget.org/api/v2

nuget FAKE >= 5.0.0-beta005
nuget Nuget.CommandLine
